@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.card {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  border: rgb(210, 208, 208) 2px solid;
  border-radius: 8px;
  margin: 20px;

  &_body {
    padding: 0 30px;
  }
}
