@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.card {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
  border: $main-fontcolor 2px solid;
  border-radius: 8px;
  margin: 20px;

  &_inner {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
  }

  &_body {
    display: flex;
    justify-content: start;
    padding-left: 1em;
    padding: 0 30px;
    text-align: left;
  }

  &_button {
    display: flex;
    justify-content: center;
  }
}
.button {
  padding: 0;
  margin: auto;
  min-width: 40px;
  width: 15%;
}

img {
  width: 100%;
  height: auto;
}

input {
  @include input;
  font-size: 16px;
}
