@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$main-font: "Nunito";
$main-fontcolor: #888;
$main-textcolor: #ffffff;
$alt-textcolor: #1a1a1a;
$main-background: #0f182a;
$button-color: #0b1d38;
$card-color: #fde197;
$decor-color: #8a405e;
