@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.translate {
  margin: 1em;
  @include main-text(1.2em);
  color: $main-fontcolor;
  font-size: 1.3em;
}

.button {
  @include button;
}
