@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.wordbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  min-height: 320px;
  min-width: 320px;
  margin: auto;
  padding: 1em;
  background: $card-color;
  box-shadow: 0 0 10px 5px $card-color;
  border-radius: 16px;
}

.word {
  @include main-text(1.3em, 700);
  color: $alt-textcolor;
}

.transcription {
  font-weight: 400;
  color: $alt-textcolor;
}
